#headTitle {
    text-align: center;
    margin-top:2%;
}
#voteTable {
    margin-top:5%;
}

.plusLogo {
    width: 4%;
    float:right;


}
.countHolder {
    border:1px black solid;
    display: inline-block;
    padding: 1%;
    border-radius: 50%;
    width: 8%;
    text-align: center;
}
.title{
    margin-left: 4%
}